<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Playlastify</title>
    <meta name="google-site-verification" content="rBm-IXkYuODi-EHWeWKTWjsTFUsiMu_Hth0bhNQeZyI" />
    <meta name="google-site-verification" content="bvIVFTuzNd14QoDGMXy9ksyR80t9aB-PcBvJ-YzH8YI" />
    {% load static %}
    <link rel="icon" href="{% static "playlastify.png" %}">
    <link rel='stylesheet' href="{% static 'style.css' %}" type='text/css' media='all' /> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'helper.js' %}"></script>
    <script src="{% static 'charts.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/themes/dark_glamour.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/themes/dark_turquoise.min.js"></script>
</head>

<body>
<div id="loadingOverlay"><embed id="loadingOverlayGIF" src="https://i.imgur.com/dVi5Ilw.gif"></embed><span id="loadingOverlayText">this may take a while ...</span></div>
<h1>Playlastify</h1>
<h3>Dig into your Spotify playlists with last.fm!</h3>
<div id="changeBGDiv">
    <img src="https://i.imgur.com/hAcGmG3.jpg" id='BG1' class="smolBG" alt="BG1"><br>   
    <img src="https://img.wallpapersafari.com/desktop/1440/900/32/54/hn3Wf6.jpeg" id='BG2' class="smolBG" alt="BG2"><br>
    <img src="https://i.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.webp" id='BG3' class="smolBG" alt="BG3"><br>
</div>
<br>
<button id='login' style='margin: 0%;'>login to spotify</button>
<br>
<div>
    <p class="nice-tag">load your last.fm data</p>
    <p id="optional" class="nice-tag" style="background: #bdaaff7a;">OPTIONAL</p>
    <p id="lastfmTip" style="display: inline;">Enter your last.fm username to get your scrobbles data</p>
    <br>
    <div class="input_area">
        <input type="text" id="lastfm_username_input" placeholder="last.fm username"></input>
        <select id="lastfm_period">
            <option value="7day">7 day</option>
            <option value="1month">1 month</option>
            <option value="3month">3 month</option>
            <option value="6month">6 month</option>
            <option value="12month">12 month</option>
            <option value="overall">overall</option>
        </select>
        <button id='lastfm_gettoptracks'>load last.fm data</button>
    </div>
    <span id="lastfm_loadcomp" style="display: none"></span>
</div>
<br>
<button id='current_playback' style='margin-left: 0%;'>show current playback</button>
<br>
<div id='currentPlaybackDiv' style="display: none; margin-bottom: 3%; margin-left: 25px;">
    <h3 id="currentTitle"></h3>
    <div id="currentMeta">
        <div id="currentImg"></div>
        <div id="currentAudioFeatureDiv" class="audiofeature"></div>
        <div id="currentAudioFeature2Div" class="audiofeature">
            <table>
                <caption>audio features</caption>
                <th></th><th></th>
                <tr><td>popularity</td><td><span id="trackPopularity"></span></td></tr>
                <tr><td>duration</td><td><span id="trackDuration"></span></td></tr>
                <tr><td>tempo</td><td><span id="trackTempo"></span></td></tr>
                <tr><td>loudness</td><td><span id="trackLoudness"></span></td></tr>
                <tr><td>artist genres</td><td><span id="trackArtistGenres"></span></td></tr>
                <tr class="lastfmStat"><td>scrobbles</td><td><span id="trackScrobbles"></span></td></tr>
            </table>
        </div>
    </div>
    <br>
</div>
<p class="nice-tag">search your spotify playlists</p><br>
<div class="input_area">
    <input type="text" id="playlist_input" placeholder="spotify playlist name"></input>
    <input type="checkbox" id="playlistExactMatch">exact match</input>
    <button id='get_playlist'>show playlist detail</button>
    <br>
    <button id='get_liked_song'>show liked songs</button>
</div>
<span id="spot_loadcomp" class="ldComp" style="display: none"></span><br>
<span id="spot_loadcomp_tip" class="smol" style="display: none"></span>
<br>
<div id='currentPlaylistDiv' style="margin-left: 25px; display: None">
    <div id="PlaylistMeta" style="display: inline-block">
        <h2><span class="playlistName"></span></h2>
        <span id="currengPlaylistImg"></span>
        <div id="AudioFeatureDiv" class="audiofeature"></div>
        <div id="AudioFeature2Div" class="audiofeature">
            <table>
                <caption>playlist details</caption>
                <th></th><th></th>
                <tr><td>total tracks</td><td><span id="totalTracks"></span></td></tr>
                <tr><td>average popularity</td><td><span id="avgPopularity"></span></td></tr>
                <tr><td>average duration</td><td><span id="avgDuration"></span></td></tr>
                <tr><td>average tempo</td><td><span id="avgTempo"></span></td></tr>
                <tr><td>average loudness</td><td><span id="avgLoudness"></span></td></tr>
                <tr class="lastfmStat"><td>total scrobbles</td><td><span id="totalScrobbiles"></span></td></tr>
            </table>
        </div>
    </div><br>
    <br>
    <div id="DateGraphDiv" class="graph" style="height:500px;">
    </div><br>
    <div id="releasedDateGraphDiv" class="graph" style="height:500px;">
    </div><br>
    <div id="ArtistDiv">
        <div id="ArtistGraph" class="graph" style="float:left; width:auto;">
            <h3>Artists pie chart of <span class="playlistName"></span></h3>
            <div id="ArtistPiechart" style="width: auto; height: 454px; margin-top: -45px;"></div>
        </div>
        <div class="greycardDiv">
            <h3>top 10 artists</h3>
            <div id="ArtistListDiv"></div>
        </div>
    </div><br>
    <div id="GenreDiv">
        <div id="GenreGraph" class="graph" style="float:left;">
            <h3>Genre cloud of <span class="playlistName"></span></h3>
            <div id="genreCloud" style="width: auto; height: 454px; margin-top: -45px;"></div>
        </div><br>
        <div id="GenreOccGraph" class="graph" style="float:left;">
            <h3>Genre word cloud of <span class="playlistName"></span></h3>
            <div id="bigGenreCloud" style="width: auto; height: 454px; margin-top: -45px;"></div>
        </div><br>
        <div class="greycardDiv">
            <h3>top 10 genres</h3>
            <div id="GenreListDiv"></div>
        </div>
        <div class="greycardDiv">
            <h3>top 10 word occurrences</h3>
            <div id="bigGenreListDiv"></div>
        </div>
    </div><br>
    <div class="greycardDiv">
        <h3>top 10 oldest tracks</h3>
        <div id="OldestDiv"></div>
    </div>
    <div class="greycardDiv">
        <h3>top 10 newest tracks</h3>
        <div id="NewestDiv"></div>
    </div>
    <div class="greycardDiv lastfmStat">
        <h3>top 10 most played tracks</h3>
        <div id="MostPlayedDiv"></div>
    </div>
    <br>
    <div id="SearchDurationDiv" style="margin:1%;">
        <p class="nice-tag">search anything in this playlist</p><br>
        <div class="input_area">
            <input type="text" id="srch_dur_input" placeholder="title or artist"></input>
            <input type="checkbox" id="WholeExactMatch">whole word and match case</input>
            <button id="srch_dur">search song</button><br>
        </div>
        <span class="smol">leave it blank to show everything in this playlist</span><br>
        <span class="smol" id="srchTip" style="display:none">click any column title to sort (like you do in Spotify)</span>
        <br>
        <div id="SearchDurationResult" class="greycardDiv" style="display:none;padding-top:20px;">
        </div>
    </div>
</div>
<div id="sauceDiv" class="">
    <a href="https://github.com/dlccyes/playlastify" style="display:flex; text-decoration:none;" target="_blank">
        <p class="sauceText">Github&nbsp</p>
    </a>
    <a href="doc" style="display:flex; text-decoration:none;" target="_blank">
        <p class="sauceText">| doc</p>
    </a>
</div>
</body>

<script>

var token = null;

// get token from cookie first
cookie = document.cookie
tokenAft = cookie.slice(cookie.search(/token=/)+6,);
indSplit = tokenAft.search(/;/);
if(indSplit == -1){
    token = tokenAft;
}else{
    token = tokenAft.slice(0, indSplit);
}

//if is redirected, parse code from url and GET token, do nothing otherwise
parseCodeAndGetToken(); 

// token exist
if(token){
    $('#logincomp').show();
}

var lastfm_toptracks = [];
var lastfm_tracknameartistcount = {};
var showLastfmStat = false;

$(document).ready(function(){

    $('#loadingOverlay').css('width',$(window).width()); //write here s.t. width won't change (in mobile)

    $(".lastfmStat").hide()

    $('body').css('background-image','linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15)), url("{% static "nebula.jpg" %}")');

    // register event handlers
    
    $('#login').click(function(){
        getCode(); //auth code flow step 1
        // parseCode();
    });

    $('#show_all_playlists').click(function(){ //obsolete
        if(playlists.length == 0){ //alreadt executed
            get_all_playlists();
        }
    });

    $('#BG1').click(function(){
        // from https://i.imgur.com/hAcGmG3.jpg
        $('body').css('background-image','linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15)), url("{% static "nebula.jpg" %}")');
        
        $('body').css('background-size','cover');
        // $('body').css('background-size',window.innerWidth*1.2+"px");
    })
    $('#BG2').click(function(){
        // from https://img.wallpapersafari.com/desktop/1440/900/32/54/hn3Wf6.jpeg
        $('body').css('background-image','linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("{% static "grey.jpeg" %}")');
        $('body').css('background-size','cover');
        // $('body').css('background-size','auto');
    })
    $('#BG3').click(function(){
        // from https://i.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.webp
        $('body').css('background-image','linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("{% static "tech.webp" %}")');
        $('body').css('background-size','auto');
        // $('body').css('background-size',window.innerWidth+' '+window.innerHeight);
    })

    EnterExec('#lastfm_username_input', function(){
        withLoading(function(){
            lastfm_fetch()
        });
    });

    $('#lastfm_gettoptracks').click(function(){
        withLoading(function(){
            lastfm_fetch()
        });        // lastfm_fetch();
    });

    $('#current_playback').click(function(){
        // current_id='';
        withLoading(function(){
            show_current_playback();
        });
    });

    EnterExec('#playlist_input', function(){
        withLoading(function(){
            get_playlist_details();
        });
    });

    $('#get_playlist').click(function(){
        withLoading(function(){
            get_playlist_details();
        });
    });
    
    $('#get_liked_song').click(function(){
        withLoading(function(){
            get_playlist_details(use_liked_song=true);        
        });
    })
});

</script>
</html>
